.answerArea {
  text-align: center;
  margin: 0 3px 0 3px;
  color: white;
  border-radius: 0 0 3px 3px;
}

.correctAnswer {
  background: green;
  padding: 7px;
}

.incorrectAnswer {
  background: #d11b1b;
}

.answersSection {
  margin: 20px 4px 0 4px;
  font-size: large;
}
